/* Reset Styles */

body {
    background: scroll;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #505050;
}


/* Header Styles */
header {

    background: linear-gradient(301deg, #7676c7, #000);
    color: #fff;
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;

}

.headeraH1 {
    margin: 0;
    margin-bottom: 30px;
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}


/* Navigation Styles */
nav ul {
    background-color: #333;
    color: #fff;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    z-index: 999;
    position: fixed;
    width: 100%;

}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

nav a:hover {
    background-color: #505050;
    /* Darker shade for hover */
}

nav a:active {
    background-color: #9ac289;
    /* Darker shade for hover */
}

/* Banner Styles */
.banner-container {


    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;

    margin-top: 120px;

}

.centered-banner {
    padding: 30px;
    max-width: 80%;
    height: auto;
    position: relative;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.services {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff position: relative;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
}


main h3 {
    margin-top: 20px;
}

/* Service Columns */
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    margin-top: 20%;
}

.service-column {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.service-column img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    position: relative;
}

.service-column h3 {
    margin-bottom: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 800px) {
    .service-column {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .service-column {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Call to Action Styles */
.cta-container {
    text-align: center;
    padding: 25px;
    background: linear-gradient(45deg, #75c4c0, #8bcb75);
    margin-top: 35px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #fff;

}

.cta-container p {
    font-weight: 100;
    font-size: small;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ad4cad;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ffc400;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    /* Smooth transition for hover effect */
}

footer a:hover {
    color: #b3b3b3;
    /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0;
}